.container {
  height: 80px;
}

.container .header {
  background: #f1f1f1;
  display: flex;
  padding: 15px;
}

.container .header img {
  width: 40px;
  height: 40px;
}

.container .header h1 {
  line-height: 40px;
}

.container .header nav {
  padding: 15px 40px 0;
}

.container .header nav a {
  text-decoration: none;
  color: #424242;
  margin: 0 10px;
}

.container .main {
  padding: 15px;
}
